@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <table width="100%">
        <tr>
            <td>
                <img height="250" src="../Images/doge.png" title="Much impress. So doge. &#10;XKCD really taught you to hover over images, didn't it?" />
            </td>
            <td>
                This is where I put info about myself. <br />
                Once I figure out what I'm gonna say, that is! <br />
                I'm looking really professional now, though. So that's something.
            </td>
        </tr>
    </table>
</article>