@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <h5>In which we discover how you'll be able to contact me. If you need to. Only if you need to.</h5>
</section>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Work:</span>
        <span>+32 (0) 3 860 16 93</span>
    </p>
    <p>
        <span class="label">Mobile:</span>
        <span>+32 (0) 477 89 61 37</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Work:</span>
        <span><a href="mailto:glenn@eventdrive.be">glenn@eventdrive.be</a></span>
    </p>
    <p>
        <span class="label">Personal:</span>
        <span><a href="mailto:Coren89@gmail.com">Coren89@gmail.com</a></span> <br /> <br />
        <span>Note to self: get more professional looking personal email address.</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Mechelsesteenweg 303<br />
        2830 Blaasveld, Belgium
    </p>
</section>