@{
    ViewBag.Title = "Home";
}
<script type="text/javascript">
    function goToXKCD() {
        document.getElementById('wobsiteLink').click();
    }
</script>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                I thought it was about time I set up my own webpage, so I quickly patched this together. It's still very much a work in progress, but you're welcome to have a look!
                I don't really have much content yet, but I'll putting in some stuff really soon. I bet you're really curious now. Yup. <br />
            </p>
        </div>
    </section>
}
<h2>Latest News:</h2>
<ol class="round">
    <li class="one">
        <h5 style="cursor:pointer;" onclick="goToXKCD();">I've got a wobsite</h5>
        Research proves having a website makes you 69% more attractive to the opposite sex. <br />
        It also makes you look 150% more professional. <br />
        Especially if you've built it yourself! <br />
        <a href="http://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank">Learn more…</a>
    </li>

    <li class="two">
        <h5>Microsoft's hosting it for free</h5>
        Because they like their developers, and they thought I should be rewarded for being so awesome. <br />
        Thanks Microsoft!
    </li>

    <li class="three">
        <h5>Hi, Cuadie's mom!</h5>
        And of course, I've put something for the ladies on the landing page. <br />
        There's still room for improvement, though... <br />
        ... <br />
        That's what she said. <br />
    </li>

    <li class="four">
        <h5>LAN-party registration is now live</h5>
        I've added a page for the LAN-party this weekend, things you can do there:
        <ul>
            <li>Look up the address.</li>
            <li><b>Register yourself</b> for the party.</li>
            <li>Wonder why I'm putting in all of this effort just for a 5-person LAN-party.</li>
        </ul>
        <b>@Html.ActionLink("Take me there!", "Lan", "Home")</b>
    </li>
</ol>

<div style="display:none;">
    <a id="wobsiteLink" href="https://xkcd.com/148/" target="_blank">wobsite</a>
</div>
